/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8; /* Light blue-gray background */
    color: #333; /* Dark gray text color */
    height: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f0f4f8; /* Light gray text color */
}

header {
    background-color: #eda81e; /* Dark blue footer background */
    color: #ecf0f1; /* Light gray footer text color */
    padding: 10px 0;
    text-align: center;
}

main {
    background-color: #ecf0f1; /* Light gray main content background */
    padding: 20px;
}

footer {
    background-color: #2c3e50; /* Dark blue footer background */
    color: #ecf0f1; /* Light gray footer text color */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Modal Styles */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Button Styles */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

/* Form Styles */
form {
    margin-bottom: 20px;
}

/* Main Content Styles */
.main-content {
    /* Your main content styles here */
    padding: 20px;
}





